<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html, body {
            height: 100%;
            font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
        }

        h1 {
            height: 70%;
            text-align: center;

        }

        div {
            height: 30%;
        }
    </style>
    <meta charset="UTF-8">
</head>
<body>
<div></div>
<h1>Analysing Image etc...</h1>
<script>
    function relocate() {
        location.replace("/processing")
    }
    relocate()
</script>

</body>
</html>