<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Configure parameters</h1>
</head>
<body>
 <form class = "form-inline" method = "POST" action="{{ url_for('configure') }}">

     <label for="isGpu">GPU Usage(DO NOT ENABLE IF YOU DON'T HAVE NVIDIA GPU):</label>
    <select name="isGpu" id="isGpu" data-role="slider">
	    <option value= 0 >Off</option>
	    <option value= 1 >On</option>
        </select>

    <select name="runType" id="runType">
      <option value="caption">Caption</option>
      <option value="controllable">Controllable</option>
      </select>

    <select name="controlType" id="controlType">
          <option value="sentiment">Sentiment</option>
          <option value="pos">Pos</option>
          </select>

     <select name="sentimentType" id="sentimentType">
      <option value="postive">Positive</option>
      <option value="negative">Negative</option>
      </select>

     <select name="order" id="order">
      <option value="sequential">Sequential</option>
      <option value="shuffle">Shuffle</option>
      <option value="random">Random</option>
      </select>

     <input type = "range" min = "0.0" max = "1.0" step = "0.01" value = "0.55" name = "alpha" oninput="this.nextElementSibling.value = this.value" />
     <output>0.55</output>
     <input type = "range" min = "1.0" max = "5.0" step = "0.5" value = 2.5 name = "beta" oninput="this.nextElementSibling.value = this.value" />
     <output>2.5</output>
     <input type = "range" min = "1.0" max = "10.0" step = "0.5" value = 5.0 name = "gamma" oninput="this.nextElementSibling.value = this.value" />
     <output>5.0</output>
     <input type = "range" min = "1.0" max = "5.0" step = "1.0" value = 2 name = "samplesNum" oninput="this.nextElementSibling.value = this.value" />
     <output>2</output>
     <input type = "range" min = "5.0" max = "15.0" step = "1.0" value = 15 name = "length" oninput="this.nextElementSibling.value = this.value" />
     <output>15</output>
     <input type = "range" min = "1.0" max = "15.0" step = "1.0" value = 5 name = "numIterations" oninput="this.nextElementSibling.value = this.value" />
     <output>5</output>
     <button type = "submit"> Submit </button>
 </form>
</body>
</html>